@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --primary-color: #2a2983 ;
    --secondary-color: #019CE4 ;
    --accent1-color: #28232B;
    --accent2-color: #732E2B;
    --accent3-color: #97c0c7;

    --heading-font: 'Roboto', serif ;
    --paragraph-font: 'Montserrat' ,sans-serif;

    --nav-background-color: #019CE4 ;
    --nav-link-color: #403c42 ;
    --nav-hover-link-color: #732E2B;
    --nav-hover-background-color: #a2bdc2;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--nav-hover-background-color);
    border-bottom: 2px solid black;
    max-width: 1200px;
    margin: 0 auto; /* Center horizontally */
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}


nav {
    display: flex;
    justify-content: center;
    align-items:center;
}

nav ul {
    display: flex; /* Cambiar a flexbox para elementos en línea */
    list-style: none; /* Eliminar viñetas de la lista */
}

nav li {
    margin-right: 20px; /* Espacio entre elementos */

}

nav a {
    display: block;
    border: 1px solid #000;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

p {
    padding: 25px;
}
h1 {
    color: var(--accent1-color);
}
h2 {
    color:var(--accent2-color)
}

.sociallinks {
    text-decoration: none;
    padding: 20px;
}


/* TITTLE OF RAFTINF AND CUADRO */
.hero {
    position: relative;
    width: 500px;
    margin: 0 auto ;
}



h1 {
    position: absolute;
    top:50px;
    left: 110px;
    background-color:rgba(119, 163, 213, 0.8);
}

article {
    position: absolute;
    top: 150px; /* Adjust top position as needed */
    left: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    padding: 2px;
}

article img {
    float: right;
    margin-left: 15px; /* Add margin between image and paragraph */
}

/* HISTORY CONTENT */
.history {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 20px;
}

.history h2 {
    color: var(--accent2-color);
    margin-bottom: 10px;
    text-align: center; /* Centrar el título */
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre columnas */
}

.left-history,
.right-history {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.left-history p,
.right-history p {
    margin-bottom: 15px;
    color: var(--accent1-color);
    line-height: 1.6;
}

/* SECCION DE IMAGENES DE ABAJO  */
.adventures {
    padding: 20px;
}

.adventures h2 {
    color: var(--accent2-color);
    text-align: center;
    margin-bottom: 15px;
}

.adventures-images {
    display: flex;
    justify-content: space-between; /* Distribuye las imágenes de manera uniforme */
}

.adventures-images figure {
    flex: 0 1 18%; /* Establece el ancho máximo de cada figura */
    text-align: center; /* Centra el texto de la figura */
}

.adventures-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.adventures-images figcaption {
    color: var(--accent1-color);
    font-style: italic;
}


