* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;  /* Grosor de la letra */
    

}
h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 2px solid black;
}



main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p { 
    padding: 0;
}

main {
   max-width: 640px;
   grid-column: 2/3;
   margin: 1rem;
}


aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row : 1/2;
}
/* The border color uses the rgba color method in order to take advantage of a subtle, transparent border effect.
The RGBA value consists of four values : red,green ,blue and alpha.The first three values (0,0,0) represent black,
and the last value (.2) represents alpha or opacity of the color,An alpha value .2 means that the color is mostly transparent,allowing the background
to show through,By using this border color , the border appears very light and barely noticeable. */

aside img {
    width: 200px;
    height: auto;
}
/* Define the second image with the respective word before , in this case aside ,refering to the second image inside*/

aside h2 {
    position: absolute;
    top:118px ;
    left: 134px;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px solid red;
    padding: 1rem;
    background-color: #eee;
    color: black;
    
}



.grid {
    display: grid;
    align-items: center;
}

